//цвета
$bg: #EFEEEE;

$mainText: #4F4B49;
$grey: #5B5755;
$white: #ffffff;
$blue: #A1B2C7;
$brown: #D9CEC7;
$black: #000000;

//отступы
$space: 4px;

//брейкпойнты
$bp-1400: 1399px;
$bp-1200: 1199px;
$bp-992: 991px;
$bp-768: 767px;
$bp-576: 575px;
$bp-375: 374px;
