//цвета
$bg: #EFEEEE;

$mainText: #4F4B49;
$grey: #5B5755;
$white: #ffffff;
$blue: #A1B2C7;
$brown: #D9CEC7;
$black: #000000;

//отступы
$space: 4px;

//брейкпойнты
$bp-1750: 1749px;
$bp-1366: 1365px;
