.map-outer-sea {
    width: 100%;
    height: 856px;
    background: url('../images/sea-big.png') 608px center no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

.map {
    width: 1190px;
    height: 840px;
    margin: 0 auto;
    position: relative;
    // background: $bg;

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../images/map.svg') center 165px no-repeat;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../images/trees.png") 103px 169px no-repeat, url("../images/path-parking.svg") 54px 448px no-repeat, url('../images/paths.png') center 100px no-repeat;
    }

    &__logo {
        position: absolute;
        top: 68px;
        right: 35px;
        width: 51px;
        height: 54px;
        background: url('../images/logo.svg') center center no-repeat;
    }

    &__circle {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: $blue;
        font-size: 12px;
        line-height: 22px;
        color: $white;
        transition: all 0.3s ease;

        &--big {
            width: 35px;
            height: 35px;
            font-size: 22px;
            line-height: 35px;
        }
    }
}

.map-text {
    &__title {
        font-size: 27px;
        position: absolute;
        top: 54px;
        left: 97px;
    }

    &__place--rotate {
        position: absolute;
        top: 521px;
        left: 30px;
        transform: rotate(-90deg);
        transform-origin: 0 0;
    }

    &__place--arrow {
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 34px;
            height: 5px;
            background: url('../images/arrow-right.svg') center center no-repeat;
            position: absolute;
            top: 18px;
            left: 0px;
        }
    }

    &__place--sea {
        position: absolute;
        top: 370px;
        right: 35px;
    }

    &__place--beach {
        position: absolute;
        bottom: 63px;
        right: 90px;
    }

    &__place--entrance {
        position: absolute;
        bottom: 100px;
        right: 381px;
    }

    &__place--arrow-up {
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 5px;
            height: 7px;
            background: url('../images/arrow-up.svg') center center no-repeat;
            position: absolute;
            top: -3px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.map-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    // &::after {
    //     content: '';
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     background: url('../images/sea-big.png') right center no-repeat;
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    // }    

    &__list {
        width: 486px;
        margin-top: 68px;
        margin-left: 415px;
        column-count: 2;
        position: relative;
        z-index: 1;
    }

    &__item {
        margin-bottom: 12px;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
            color: $blue;
        }
    }

    &__circle {
        margin-right: 20px;
    }    

    @include breakpoint($bp-1366) {
        background: url('../images/cloud.png') center 0px no-repeat;
    }
}

.map-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__parking-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid $grey;
        font-weight: 700;
        line-height: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    &__icon {
        display: block;
        width: 20px;
        height: 15px;
        margin: 0 auto;
    }

    &__icon--fitness {
        background: url('../images/fitness.svg') center center no-repeat;
    }

    &__icon--lotos {
        background: url('../images/lotos.svg') center center no-repeat;
    }

    &__icon--horse {
        background: url('../images/horse.svg') center center no-repeat;
    }

    &__icon--rest {
        height: 22px;
        display: inline-block;
        vertical-align: middle;
        background: url('../images/rest.svg') center center no-repeat;
        margin-left: 3px;
    }

    &__icon--playground {
        display: inline-block;
        vertical-align: middle;
        background: url('../images/playground.svg') center center no-repeat;
        margin-left: 3px;
    }

    &__icon--family {
        margin-top: 17px;
        height: 18px;
        background: url('../images/family.svg') center center no-repeat;
    }

    &__icon--mangal {
        display: inline-block;
        vertical-align: middle;
        margin-left: 3px;
        background: url('../images/mangal.svg') center center no-repeat;
    }

    &__icon--pine {
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 3px;
        background: url('../images/pine.svg') center center no-repeat;
    }

    &__icon--beach {
        width: 22px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 3px;
        background: url('../images/beach.svg') center center no-repeat;
    }

    &__item {
        cursor: pointer;

        & svg,
        & svg path {
            transition: all 0.3s ease;
        }

        &:hover svg {
            transform: scale(1.1);
            filter: drop-shadow(5.12131px 5.12131px 20.4852px rgba(0, 0, 0, 0.15)); 
        }

        &:hover svg path {
            fill: $blue;
        }

        &:hover .map__circle {
            background: $white;
            color: $blue;
        }

        &:hover .popup {
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }
    }

    &__item--icon {
        &:hover .map__circle {
            box-shadow: 5.12131px 5.12131px 20.4852px rgba(0, 0, 0, 0.15);
        }

        & .map-info__icon {
            transition: all 0.3s ease;
        }

        &:hover .map-info__icon {
            transform: scale(1.5);
        }
    }

    &__item-1 {
        position: absolute;
        top: 164px;
        left: 145px;

        & .map__circle {
            position: absolute;
            top: 56px;
            left: 30px;
        }
        // top: 224px;
        // left: 174px;

    }

    &__popup-1 {       
        position: absolute;
        top: 100px;
        left: -95px;
    }

    &__item-2 {
        position: absolute;
        top: 293px;
        left: 234px;

        & .map__circle {
            position: absolute;
            top: 30px;
            left: 19px;
        }

        & .map-info__icon--fitness {
            position: absolute;
            top: 88px;
            left: 21px;
        }

        & .map-info__icon--lotos {
            position: absolute;
            top: 67px;
            left: 21px;
        }
    }

    &__popup-2 {      
        position: absolute;
        top: 60px;
        left: 73px;
    }

    &__item-3 {
        position: absolute;
        top: 409px;
        left: 140px;

        & .map__circle {
            position: absolute;
            top: 73px;
            left: 25px;
        }
    }

    &__popup-3 {     
        position: absolute;
        top: -10px;
        left: 100px;
    }

    &__item-4 {
        position: absolute;
        top: 592px;
        left: 146px;

        & .map__circle {
            position: absolute;
            top: 5px;
            left: 41px;
        }

        & .map-info__icon--horse {
            position: absolute;
            top: 8px;
            left: 14px;
        }
    }

    &__popup-4 {     
        position: absolute;
        top: -71px;
        left: 91px;
    }

    &__item-5 {
        position: absolute;
        top: 637px;
        left: 140px;

        & .map__circle {
            position: absolute;
            top: 10px;
            left: 19px;
        }

        & .map-info__icon--rest {
            position: absolute;            
            top: 10px;
            left: 47px;
        }
    }

    &__popup-5 {    
        position: absolute;
        bottom: 60px;
        left: -102px;
    }

    &__item-6 {
        position: absolute;
        top: 474px;
        left: 352px;
    }

    &__popup-6 {    
        position: absolute;        
        top: 40px;
        left: -116px;
    }

    &__item-7 {
        position: absolute;
        top: 515px;
        left: 546px;
        display: flex;
    }

    &__popup-7 {     
        position: absolute;        
        top: -68px;
        left: 54px;
    }

    &__item-8 {
        position: absolute;
        top: 619px;
        left: 385px;
        z-index: 1;

        & .map__circle {
            position: absolute;
            top: 25px;
            left: 165px;
        }
    }

    &__popup-8 {     
        position: absolute;        
        bottom: 105px;
        left: 35px;
    }

    &__item-9 {
        position: absolute;
        top: 579px;
        left: 733px;

        &:hover {
            z-index: 2;
        }

        & .map__circle {
            position: absolute;
            top: 78px;
            left: 29px;
        }

        & .map-info__icon--kitchen {
            background: url('../images/kitchen.svg') center center no-repeat;
            position: absolute;            
            top: 52px;
            left: 30px;
        }
    }

    &__popup-9 {    
        position: absolute;        
        top: -24px;
        right: 110px;
    }

    &__item-10 {
        position: absolute;
        top: 522px;
        left: 848px;

        & .map__circle {
            position: absolute;
            top: 22px;
            left: 5px;
        }

        & .map-info__icon--cocktail {
            background: url('../images/cocktail.svg') center center no-repeat;
            position: absolute;            
            top: 57px;
            left: 6px;
        }
    }

    &__popup-10 {     
        position: absolute;        
        bottom: 118px;
        left: -128px;
    }

    &__item-11 {
        position: absolute;
        top: 506px;
        left: 823px;

        & .map__circle {
            position: absolute;
            top: 73px;
            left: 88px;
        }
    }

    &__popup-11 {     
        position: absolute;        
        top: -2px;
        right: 88px;
    }

    &__item-12 {
        position: absolute;
        top: 313px;
        right: 137px;

        &:hover .map-info__parking-circle {
            border-color: $white;
            color: $white;
        }

        & .map-info__parking-circle {
            transition: all 0.3s ease;
        }

        &:hover svg path {
            stroke: $white;
        }
    }

    &__popup-12 {      
        position: absolute;        
        top: -7px;
        right: 70px;
    }

    &__item-13 {
        position: absolute;
        top: 576px;
        right: 84px;
    }

    &__popup-13 {     
        position: absolute;        
        top: -70px;
        right: 59px;
    }

    &__item-14 {
        position: absolute;
        top: 683px;
        right: 110px;
    }

    &__popup-14 {   
        position: absolute;        
        top: -70px;
        right: 59px;
    }

    &__item-15 {
        position: absolute;
        top: 757px;
        right: 131px;
    }

    &__popup-15 {    
        position: absolute;        
        top: -70px;
        right: 59px;
    }
}

.popup {
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    width: 300px;
    background: $white;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 20px 25px 15px 30px;
    }

    &__title {
        font-size: 24px;
        line-height: 1.25;
    }

    &__close {
        display: block;
        width: 16px;
        height: 16px;
        background: url('../images/close.svg') center center no-repeat;
        cursor: pointer;
    }

    &__text {
        font-size: 16px;
        line-height: 1.3;
        color: $black;
        padding: 0 30px 20px;
    }
}

.map-blocks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // z-index: 20;

    & svg {
        position: absolute;
        transition: all 0.3s ease;
    }

    & svg.hover:hover {
        transform: scale(1.2);
        filter: drop-shadow(5.12131px 5.12131px 20.4852px rgba(0, 0, 0, 0.15));        
    }

    &__1 {        
        top: 164px;
        left: 146px;
    }
}